html, body
{
	margin: 0;
	padding: 0;
	height: 100%;

	display: flex;
	flex-direction: column;

	font-family: 'sans';
	font-size: 10pt;
}

#menubar
{
	width: 100%;
	height: 25px;
	min-height: 25px;
	background-image: linear-gradient(to bottom, #878e9e, #878e9e 38%, #636c7b 45%, #636c7b);
	border-bottom: solid #2c2f36 2px;
}

#menubar a.button
{
	padding: 5px 10px;
	border-left: ridge #cecece 4px;
	border-right: ridge #cecece 4px;

	display: inline-block;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

#menubar a.button:hover {
	text-decoration: underline;
}

#menubar .button1 {
	background-image: linear-gradient(to bottom, #2f89d6, #3595df 25%, #1d76c1 30%, #0d3b66);
}

#menubar .button2 {
	background-image: linear-gradient(to bottom, #9c9101, #a99e01 25%, #867d01 30%, #464100);
}

#splitter
{
	height: 100%;
	min-height: 95%;
	display: flex;
	flex-direction: row;
}

#treeContainer
{
	flex-grow: 1;
	overflow: hidden;
	background-color: #0B111F;
}

#treePanArea
{
	background-image: url('images/grid.png');
	background-attachment: local;
	width: 3400px;
	height: 2000px;
	position: relative;
}

#tree
{
	position: absolute;
	left: 850px;
	top: 500px;
}

.treeNode {
	position: absolute;
	z-index: 1;
}

.treeNode .techicon
{
	position: absolute;
	top: 0px; left: 0px;
	width: 40px;
	height: 40px;

	border-radius: 4px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.7);
}

.treeNode span
{
	position: absolute;
	color: white;
	background-color: #649C64;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: solid white 1px;
	font-size: 8pt;
	text-align: center;
	line-height: 14px;
	left: -6px;
	top: -6px;
}

#tree svg
{
	position: absolute;
	width: 1700px;
	height: 1000px;
}

#tree svg path {
	stroke: #345006;
	fill: none;
}

#tree svg marker path {
	fill: #345006;
}

#tree .techicon.active
{
	border: solid #005d00 2px;
	margin: -6px;
	padding: 3px;
}

#info
{
	background-color: #4E5359;
	width: 300px;
	min-width: 300px;
	color: white;
	overflow: auto;
	padding: 70px 10px;
}

#info #title {
	display: flex;
}

#info #title h3 {
	margin: 5px 10px;
	font-size: 10pt;
	font-weight: normal;
	color: #c4822e;
}

#info #title .techicon
{
	width: 60px;
	height: 60px;
	border-radius: 5px;
	border: outset grey 1px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

#info p#description
{
	font-size: 9pt;
	height: 130px;
}

#info #partsList .tab
{
	width: 65%;
	border: outset #e6e6e6 2px;
	border-bottom: 0;
	padding: 5px 8px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-image: linear-gradient(to bottom, #747880 0%, #707480 50%, #565c67 55%, #34373e 100%);
}

#info #partsList ul {
	border: inset grey 2px;
	border-radius: 5px;
	background-color: #5c626e;
	margin-top: 0;
	padding: 5px 5px 5px 25px;
	height: 210px;
	overflow: auto;
}

#info #partsList li {
	margin: 3px 0;
}

#info #partsList a {
	color: white;
	text-decoration: none;
}

#info #partsList a:hover {
	text-decoration: underline;
}

#info p#researchButton
{
	text-align: center;
	background: linear-gradient(to bottom, #2da6fe 0%, #29a7ff 50%, #0385e4 55%, #0f4a77) #3787CC;
	padding: 10px;
	margin: 10px;
	border-radius: 3px;
	border: outset grey 1px;
	position: relative;
}

#info p#researchButton::before {
	content: '\269b';
	position: absolute;
	left: 0;
	top: 0;
	font-size: 42px;
	line-height: 37px;
}

#info #requirements .requirement
{
	margin: 5px 0;
	display: flex;
	align-items: center;
}

#info #requirements .requirement .techicon
{
	width: 40px;
	height: 40px;
	margin-right: 10px;
	border-radius: 4px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.7);
}

#modal
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(128,128,128,0.8);
	z-index: 100;

	display: flex;
	justify-content: center;
	align-items: center;
}

#dialog
{
	width: 600px;
	height: 400px;
	background-color: whitesmoke;
	border: solid black 1px;
	padding: 15px;
}

#dialog img
{
	display: block;
	margin: 0 auto;
}
