<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='index.css'/>
		<script src='lib/angular.min.js'></script>
		<script src='controller.js'></script>
	</head>
	<body ng-app='KerbalTech'>
		<div id='menubar'>
			<span class='content'>Kerbal Space Program Technology</span>
		</div>
		<div id='splitter' ng-controller='KerbalTechController'>
			<div id='treeContainer' ksp-zoom-pan>
				<div id='treePanArea'>
					<div id='tree'>
						<img ng-repeat='(techId,tech) in techs' id='{{sanitize(techId)}}' ng-src='{{tech.icon}}'
							ng-click='$parent.activeTech = techId' ng-class='{active: $parent.activeTech === techId}'
							style='left: {{tech.x}}px; top: {{tech.y}}px;'></img>
						<svg>
							<defs>
								<marker id='Triangle'
									viewBox='0 0 10 10' refX='10' refY='5'
									markerWidth='4' markerHeight='4' orient='auto'>
									<path d='M 0 0 L 10 5 L 0 10 z'/>
								</marker>
							</defs>
							<g ng-repeat='(techId,tech) in techs'>
								<!--line ng-repeat='next in tech.dependents' ng-if='techs[next]'
									x1='{{tech.x+40}}' y1='{{tech.y+20}}'
									x2='{{techs[next].x}}' y2='{{techs[next].y+20}}'
									stroke-width='2' marker-end='url(#Triangle)'>
								</line-->
								<path ng-repeat='next in tech.dependents' ng-if='techs[next]'
									d='M {{tech.x+40}},{{tech.y+20}} C {{techs[next].x}},{{tech.y+20}} {{tech.x+40}},{{techs[next].y+20}} {{techs[next].x}},{{techs[next].y+20}}'
									stroke-width='2' marker-end='url(#Triangle)'>
								</path>
							</g>
						</svg>
					</div>
				</div>
			</div>
			<div id='info'>
			</div>
		</div>
	</body>
</html>
