<!DOCTYPE html>
<html>
	<head>
		<title>Kerbal Tech</title>
		<link rel='icon' href='./icons/icon.png'/>
		<link rel='stylesheet' href='index.css'/>
		<link rel='stylesheet' href='sprites.css'/>
		<script src='lib/angular.min.js'></script>
		<script src='controller.js'></script>
	</head>
	<body ng-app='KerbalTech'>
		<div id='menubar'>
			<a class='button button1' href='https://kerbalspaceprogram.com' target='_blank'>Kerbal Space Program</a>
			<a class='button button2' onclick='about()'>About</a>
		</div>
		<div id='splitter' ng-controller='KerbalTechController'>
			<div id='treeContainer' ksp-zoom-pan>
				<div id='treePanArea'>
					<div id='tree'>
						<div class='treeNode' ng-repeat='(techId,tech) in techs' style='left: {{tech.x}}px; top: {{tech.y}}px;'>
							<div class='techicon {{sanitize(techId)}}' ng-click='$parent.activeTech = techId' ng-class='{active: $parent.activeTech === techId}'>
							</div>
							<span>{{tech.parts.length < 10 ? tech.parts.length : '+'}}</span>
						</div>
						<svg>
							<defs>
								<marker id='Triangle'
									viewBox='0 0 10 10' refX='10' refY='5'
									markerWidth='4' markerHeight='4' orient='auto'>
									<path d='M 0 0 L 10 5 L 0 10 z'/>
								</marker>
							</defs>
							<g ng-repeat='(techId,tech) in techs'>
								<path ng-repeat='next in tech.dependents' ng-if='techs[next]'
									ksp-d='M {{tech.x+40}},{{tech.y+20}} 
									C {{techs[next].x}},{{tech.y+20}}
									  {{tech.x+40}},{{techs[next].y+20}}
									  {{techs[next].x}},{{techs[next].y+20}}'
									stroke-width='2' marker-end='url(#Triangle)'>
								</path>
							</g>
						</svg>
					</div>
				</div>
			</div>
			<div id='info'>
				<div id='title'>
					<div class='techicon {{activeTech}}'></div>
					<h3>{{techs[activeTech].name}}
				</div>
				<p id='description'>{{techs[activeTech].description}}</p>
				<div id='partsList'>
					<div class='tab'>Available Parts</div>
					<ul>
						<li ng-repeat='part in techs[activeTech].parts'>
							<a href='{{part.url}}' target='_blank'>{{part.name}}</a>
						</li>
					</ul>
				</div>
				<p id='researchButton'>Research [{{techs[activeTech].cost}} Science]</p>
				<div id='requirements' ng-hide='activeTech === "Start"'>
					<p>Requires:</p>
					<div class='requirement' ng-repeat-start='id in techs[activeTech].dependencies'>
						<div class='techicon {{id}}'></div>
						<span>{{techs[id].name}}</span>
					</div>
					<span ng-repeat-end ng-hide='$last' style='margin-left: 50px;'>or</span>
				</div>
			</div>
		</div>
		<div id='modal' style='display: none; opacity: 0;'>
			<div id='dialog'>
				<img src='images/kerbals.png'/>
				<p>This page was developed by <a href='https://github.com/stevenvergenz' target='_blank'>Steven Vergenz</a> detailing the technology tree of the game <a href='https://kerbalspaceprogram.com' target='_blank'>Kerbal Space Program</a> from Squad.</p>
				<p>Data collected from the <a href='http://wiki.kerbalspaceprogram.com/wiki/Technology_tree' target='_blank'>KSP Wiki</a> and the game's data files.</p>
				<p>Report any inaccuracies or bugs to <a href='https://github.com/stevenvergenz/kerbal-tech-tree/issues' target='_blank'>Github</a>. Please include your browser name and version, your operating system, and a screenshot if appropriate.</p>

				<input type='button' value='Got it!' onclick='okay()'/>
			</div>
		</div>
	</body>
</html>
