#Start                   { left:   17px; top: 455px; }
#Basic_Rocketry          { left:  199px; top: 398px; }
#Engineering_101         { left:  199px; top: 512px; }
#General_Rocketry        { left:  457px; top: 216px; }
#Stability               { left:  415px; top: 455px; }
#Survivability           { left:  375px; top: 679px; }
#Advanced_Rocketry       { left:  639px; top: 103px; }
#General_Construction    { left:  639px; top: 299px; }
#Aviation                { left:  639px; top: 455px; }
#Flight_Control          { left:  639px; top: 603px; }
#Basic_Science           { left:  639px; top: 807px; }
#Heavy_Rocketry          { left:  861px; top:  19px; }
#Propulsion_Systems      { left:  861px; top: 103px; }
#Fuel_Systems            { left:  861px; top: 184px; }
#Advanced_Construction   { left:  861px; top: 299px; }
#Aerodynamics            { left:  861px; top: 411px; }
#Landing                 { left:  861px; top: 512px; }
#Advanced_Flight_Control { left:  861px; top: 603px; }
#Space_Exploration       { left:  861px; top: 690px; }
#Miniaturization         { left:  861px; top: 807px; }
#Electrics               { left:  861px; top: 943px; }
#Heavier_Rocketry        { left: 1066px; top:  19px; }
#Precision_Propulsion    { left: 1066px; top: 103px; }
#Adv_Fuel_Systems       { left: 1066px; top: 184px; }
#Specialized_Construction{ left: 1066px; top: 242px; }
#Actuators               { left: 1066px; top: 299px; }
#Supersonic_Flight       { left: 1066px; top: 376px; }
#Advanced_Aerodynamics   { left: 1066px; top: 447px; }
#Advanced_Landing        { left: 1066px; top: 512px; }
#Specialized_Control     { left: 1066px; top: 572px; }
#Command_Modules         { left: 1066px; top: 634px; }
#Advanced_Exploration    { left: 1066px; top: 690px; }
#Precision_Engineering   { left: 1066px; top: 807px; }
#Advanced_Electrics      { left: 1066px; top: 943px; }
#Nuclear_Propulsion      { left: 1271px; top: 103px; }
#Large_Volume_Containment{ left: 1271px; top: 184px; }
#Advanced_MetalWorks     { left: 1271px; top: 242px; }
#Composites              { left: 1271px; top: 299px; }
#High_Altitude_Flight    { left: 1271px; top: 376px; }
#Heavy_Aerodynamics      { left: 1271px; top: 447px; }
#Heavy_Landing           { left: 1271px; top: 512px; }
#Field_Science           { left: 1271px; top: 588px; }
#Science_Tech            { left: 1271px; top: 690px; }
#Unmanned_Tech           { left: 1271px; top: 807px; }
#Electronics             { left: 1271px; top: 878px; }
#High-Power_Electrics    { left: 1271px; top: 943px; }
#Very_Heavy_Rocketry     { left: 1462px; top:  19px; }
#High-Performance_Fuel_Systems { left: 1462px; top: 184px; }
#Meta-Materials          { left: 1462px; top: 299px; }
#Hypersonic_Flight       { left: 1462px; top: 376px; }
#Experimental_Aerodynamics { left: 1462px; top: 447px; }
#Advanced_Motors         { left: 1462px; top: 588px; }
#Advanced_Science_Tech   { left: 1462px; top: 690px; }
#Ion_Propulsion          { left: 1462px; top: 748px; }
#Advanced_Unmanned_Tech  { left: 1462px; top: 807px; }
#Automation              { left: 1462px; top: 878px; }
#Specialized_Electrics   { left: 1462px; top: 943px; }
#Aerospace_Tech          { left: 1626px; top: 376px; }
#Experimental_Science    { left: 1626px; top: 690px; }
#Large_Probes            { left: 1626px; top: 807px; }
#Experimental_Electrics  { left: 1626px; top: 943px; }

