#Start                   { left:   17; top: 455; }
#Basic_Rocketry          { left:  199; top: 398; }
#Engineering_101         { left:  199; top: 512; }
#General_Rocketry        { left:  457; top: 216; }
#Stability               { left:  415; top: 455; }
#Survivability           { left:  375; top: 679; }
#Advanced_Rocketry       { left:  639; top: 103; }
#General_Construction    { left:  639; top: 299; }
#Aviation                { left:  639; top: 455; }
#Flight_Control          { left:  639; top: 603; }
#Basic_Science           { left:  639; top: 807; }
#Heavy_Rocketry          { left:  861; top:  19; }
#Propulsions_Systems     { left:  861; top: 103; }
#Fuel_Systems            { left:  861; top: 184; }
#Advanced_Construction   { left:  861; top: 299; }
#Aerodynamics            { left:  861; top: 411; }
#Landing                 { left:  861; top: 512; }
#Advanced_Flight_Control { left:  861; top: 603; }
#Space_Exploration       { left:  861; top: 690; }
#Miniaturization         { left:  861; top: 807; }
#Electrics               { left:  861; top: 943; }
#Heavier_Rocketry        { left: 1066; top:  19; }
#Precision_Propulsion    { left: 1066; top: 103; }
#Adv__Fuel_Systems       { left: 1066; top: 184; }
#Specialized_Construction{ left: 1066; top: 242; }
#Actuators               { left: 1066; top: 299; }
#Supersonic_Flight       { left: 1066; top: 376; }
#Advanced_Aerodynamics   { left: 1066; top: 447; }
#Advanced_Landing        { left: 1066; top: 512; }
#Specialized_Control     { left: 1066; top: 572; }
#Command_Modules         { left: 1066; top: 634; }
#Advanced_Exploration    { left: 1066; top: 690; }
#Precision_Engineering   { left: 1066; top: 807; }
#Advanced_Electrics      { left: 1066; top: 943; }
#Nuclear_Propulsion      { left: 1271; top: 103; }
#Large_Volume_Containment{ left: 1271; top: 184; }
#Advanced_Metalworks     { left: 1271; top: 242; }
#Composites              { left: 1271; top: 299; }
#High_Altitude_Flight    { left: 1271; top: 376; }
#Heavy_Aerodynamics      { left: 1271; top: 447; }
#Heavy_Landing           { left: 1271; top: 512; }
#Field_Science           { left: 1271; top: 588; }
#Science_Tech            { left: 1271; top: 690; }
#Unmanned_Tech           { left: 1271; top: 807; }
#Electronics             { left: 1271; top: 878; }
#High-Power_Electrics    { left: 1271; top: 943; }
#Very_Heavy_Rocketry     { left: 1462; top:  19; }
#High-Performance_Fuel_Systems { left: 1462; top: 184; }
#Meta-Materials          { left: 1462; top: 299; }
#Hypersonic_Flight       { left: 1462; top: 376; }
#Experimental_Aerodynamics { left: 1462; top: 447; }
#Advanced_Motors         { left: 1462; top: 588; }
#Advanced_Science_Tech   { left: 1462; top: 690; }
#Ion_Propulsion          { left: 1462; top: 748; }
#Advanced_Unmanned_Tech  { left: 1462; top: 807; }
#Automation              { left: 1462; top: 878; }
#Specialized_Electrics   { left: 1462; top: 943; }
#Aerospace_Tech          { left: 1626; top: 376; }
#Experimental_Science    { left: 1626; top: 690; }
#Large_Probes            { left: 1626; top: 807; }
#Experimental_Electrics  { left: 1626; top: 943; }

